body {
    background-color: #8a8878;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-left: 10%;

}

h1,h2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globalBans {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #ddd;
}

#result {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.checked {
    background-color: green;
  }